<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section name="FET.POS.WS.PROXY.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<system.serviceModel>
		<bindings />
		<client />
	</system.serviceModel>
	<applicationSettings>
		<FET.POS.WS.PROXY.Properties.Settings>
			<setting name="ePOSwsProxy_wsSimQuery_SimQuery" serializeAs="String">
				<value>http://localhost/SimQuery/SimQuery.asmx</value>
			</setting>
		</FET.POS.WS.PROXY.Properties.Settings>
	</applicationSettings>
</configuration>