<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ClassLibrary1.Properties.Settings.ConnectionString"
            connectionString="Data Source=oa505;User ID=scott;Password=tiger;Unicode=True"
            providerName="System.Data.OracleClient" />
    </connectionStrings>
</configuration>