<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="FET.POS.Model.Properties.Settings.ConnectionString" connectionString="Data Source=webpos;Persist Security Info=True;User ID=WEBPOS;Password=webpos;Unicode=True" providerName="System.Data.OracleClient"/>
        <add name="FET.POS.Model.Properties.Settings.ConnectionString1" connectionString="Data Source=orcl;Persist Security Info=True;User ID=WEBPOS;Password=devpos;Unicode=True" providerName="System.Data.OracleClient"/>
        <add name="FET.POS.Model.Properties.Settings.ConnectionString2" connectionString="Data Source=FETDB01T;User ID=posuser;Password=posuser;Unicode=True" providerName="System.Data.OracleClient"/>
        <add name="FET.POS.Model.Properties.Settings.ConnectionString3" connectionString="Data Source=WEBPOS;Persist Security Info=True;User ID=WEBPOS;Password=webpos;Unicode=True" providerName="System.Data.OracleClient"/>
        <add name="FET.POS.Model.Properties.Settings.ConnectionString4" connectionString="Provider=MSDAORA;Data Source=WEBPOS;Persist Security Info=True;Password=webpos;User ID=WEBPOS" providerName="System.Data.OleDb"/>
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
